4_outputs/causality_final_global_DJF_merged.png
4_outputs/causality_final_global_JJA_merged.png
4_outputs/causality_final_global_MAM_merged.png
4_outputs/causality_final_global_SON_merged.png
4_outputs/causality_global_amo.png
4_outputs/causality_global_ao.png
4_outputs/causality_global_atl3.png
4_outputs/causality_global_iob.png
4_outputs/causality_global_iod.png
4_outputs/causality_global_nao.png
4_outputs/causality_global_niño_34.png
4_outputs/causality_global_npmm.png
4_outputs/causality_global_pdo.png
4_outputs/causality_global_pna.png
4_outputs/causality_global_qbo.png
4_outputs/causality_global_sasd1.png
4_outputs/causality_global_siod.png
4_outputs/causality_global_soi.png
4_outputs/causality_global_spmm.png
4_outputs/causality_global_tna.png
4_outputs/causality_nh_amo.png
4_outputs/causality_nh_ao.png
4_outputs/causality_nh_atl3.png
4_outputs/causality_nh_iob.png
4_outputs/causality_nh_iod.png
4_outputs/causality_nh_nao.png
4_outputs/causality_nh_niño_34.png
4_outputs/causality_nh_npmm.png
4_outputs/causality_nh_pdo.png
4_outputs/causality_nh_pna.png
4_outputs/causality_nh_qbo.png
4_outputs/causality_nh_sasd1.png
4_outputs/causality_nh_siod.png
4_outputs/causality_nh_soi.png
4_outputs/causality_nh_spmm.png
4_outputs/causality_nh_tna.png
4_outputs/causality_sh_amo.png
4_outputs/causality_sh_ao.png
4_outputs/causality_sh_atl3.png
4_outputs/causality_sh_iob.png
4_outputs/causality_sh_iod.png
4_outputs/causality_sh_nao.png
4_outputs/causality_sh_niño_34.png
4_outputs/causality_sh_npmm.png
4_outputs/causality_sh_pdo.png
4_outputs/causality_sh_pna.png
4_outputs/causality_sh_qbo.png
4_outputs/causality_sh_sasd1.png
4_outputs/causality_sh_siod.png
4_outputs/causality_sh_soi.png
4_outputs/causality_sh_spmm.png
4_outputs/causality_sh_tna.png
4_outputs/causality_total_global_amo.png
4_outputs/causality_total_global_ao.png
4_outputs/causality_total_global_atl3.png
4_outputs/causality_total_global_iob.png
4_outputs/causality_total_global_iod.png
4_outputs/causality_total_global_nao.png
4_outputs/causality_total_global_niño_34.png
4_outputs/causality_total_global_npmm.png
4_outputs/causality_total_global_pdo.png
4_outputs/causality_total_global_pna.png
4_outputs/causality_total_global_qbo.png
4_outputs/causality_total_global_sasd1.png
4_outputs/causality_total_global_siod.png
4_outputs/causality_total_global_soi.png
4_outputs/causality_total_global_spmm.png
4_outputs/causality_total_global_tna.png
4_outputs/causality_total_nh_amo.png
4_outputs/causality_total_nh_ao.png
4_outputs/causality_total_nh_atl3.png
4_outputs/causality_total_nh_iob.png
4_outputs/causality_total_nh_iod.png
4_outputs/causality_total_nh_nao.png
4_outputs/causality_total_nh_niño_34.png
4_outputs/causality_total_nh_npmm.png
4_outputs/causality_total_nh_pdo.png
4_outputs/causality_total_nh_pna.png
4_outputs/causality_total_nh_qbo.png
4_outputs/causality_total_nh_sasd1.png
4_outputs/causality_total_nh_siod.png
4_outputs/causality_total_nh_soi.png
4_outputs/causality_total_nh_spmm.png
4_outputs/causality_total_nh_tna.png
4_outputs/causality_total_sh_amo.png
4_outputs/causality_total_sh_ao.png
4_outputs/causality_total_sh_atl3.png
4_outputs/causality_total_sh_iob.png
4_outputs/causality_total_sh_iod.png
4_outputs/causality_total_sh_nao.png
4_outputs/causality_total_sh_niño_34.png
4_outputs/causality_total_sh_npmm.png
4_outputs/causality_total_sh_pdo.png
4_outputs/causality_total_sh_pna.png
4_outputs/causality_total_sh_qbo.png
4_outputs/causality_total_sh_sasd1.png
4_outputs/causality_total_sh_siod.png
4_outputs/causality_total_sh_soi.png
4_outputs/causality_total_sh_spmm.png
4_outputs/causality_total_sh_tna.png
4_outputs/correlation_final_global_DJF_merged.png
4_outputs/correlation_final_global_JJA_merged.png
4_outputs/correlation_final_global_MAM_merged.png
4_outputs/correlation_final_global_SON_merged.png
4_outputs/correlation_seasonal_global_amo.png
4_outputs/correlation_seasonal_global_ao.png
4_outputs/correlation_seasonal_global_atl3.png
4_outputs/correlation_seasonal_global_iob.png
4_outputs/correlation_seasonal_global_iod.png
4_outputs/correlation_seasonal_global_nao.png
4_outputs/correlation_seasonal_global_niño_34.png
4_outputs/correlation_seasonal_global_npmm.png
4_outputs/correlation_seasonal_global_pdo.png
4_outputs/correlation_seasonal_global_pna.png
4_outputs/correlation_seasonal_global_qbo.png
4_outputs/correlation_seasonal_global_sasd1.png
4_outputs/correlation_seasonal_global_siod.png
4_outputs/correlation_seasonal_global_soi.png
4_outputs/correlation_seasonal_global_spmm.png
4_outputs/correlation_seasonal_global_tna.png
4_outputs/correlation_seasonal_nh_amo.png
4_outputs/correlation_seasonal_nh_ao.png
4_outputs/correlation_seasonal_nh_atl3.png
4_outputs/correlation_seasonal_nh_iob.png
4_outputs/correlation_seasonal_nh_iod.png
4_outputs/correlation_seasonal_nh_nao.png
4_outputs/correlation_seasonal_nh_niño_34.png
4_outputs/correlation_seasonal_nh_npmm.png
4_outputs/correlation_seasonal_nh_pdo.png
4_outputs/correlation_seasonal_nh_pna.png
4_outputs/correlation_seasonal_nh_qbo.png
4_outputs/correlation_seasonal_nh_sasd1.png
4_outputs/correlation_seasonal_nh_siod.png
4_outputs/correlation_seasonal_nh_soi.png
4_outputs/correlation_seasonal_nh_spmm.png
4_outputs/correlation_seasonal_nh_tna.png
4_outputs/correlation_seasonal_sh_amo.png
4_outputs/correlation_seasonal_sh_ao.png
4_outputs/correlation_seasonal_sh_atl3.png
4_outputs/correlation_seasonal_sh_iob.png
4_outputs/correlation_seasonal_sh_iod.png
4_outputs/correlation_seasonal_sh_nao.png
4_outputs/correlation_seasonal_sh_niño_34.png
4_outputs/correlation_seasonal_sh_npmm.png
4_outputs/correlation_seasonal_sh_pdo.png
4_outputs/correlation_seasonal_sh_pna.png
4_outputs/correlation_seasonal_sh_qbo.png
4_outputs/correlation_seasonal_sh_sasd1.png
4_outputs/correlation_seasonal_sh_siod.png
4_outputs/correlation_seasonal_sh_soi.png
4_outputs/correlation_seasonal_sh_spmm.png
4_outputs/correlation_seasonal_sh_tna.png
4_outputs/correlation_total_global_amo.png
4_outputs/correlation_total_global_ao.png
4_outputs/correlation_total_global_atl3.png
4_outputs/correlation_total_global_iob.png
4_outputs/correlation_total_global_iod.png
4_outputs/correlation_total_global_nao.png
4_outputs/correlation_total_global_niño_34.png
4_outputs/correlation_total_global_npmm.png
4_outputs/correlation_total_global_pdo.png
4_outputs/correlation_total_global_pna.png
4_outputs/correlation_total_global_qbo.png
4_outputs/correlation_total_global_sasd1.png
4_outputs/correlation_total_global_siod.png
4_outputs/correlation_total_global_soi.png
4_outputs/correlation_total_global_spmm.png
4_outputs/correlation_total_global_tna.png
4_outputs/correlation_total_nh_amo.png
4_outputs/correlation_total_nh_ao.png
4_outputs/correlation_total_nh_atl3.png
4_outputs/correlation_total_nh_iob.png
4_outputs/correlation_total_nh_iod.png
4_outputs/correlation_total_nh_nao.png
4_outputs/correlation_total_nh_niño_34.png
4_outputs/correlation_total_nh_npmm.png
4_outputs/correlation_total_nh_pdo.png
4_outputs/correlation_total_nh_pna.png
4_outputs/correlation_total_nh_qbo.png
4_outputs/correlation_total_nh_sasd1.png
4_outputs/correlation_total_nh_siod.png
4_outputs/correlation_total_nh_soi.png
4_outputs/correlation_total_nh_spmm.png
4_outputs/correlation_total_nh_tna.png
4_outputs/correlation_total_sh_amo.png
4_outputs/correlation_total_sh_ao.png
4_outputs/correlation_total_sh_atl3.png
4_outputs/correlation_total_sh_iob.png
4_outputs/correlation_total_sh_iod.png
4_outputs/correlation_total_sh_nao.png
4_outputs/correlation_total_sh_niño_34.png
4_outputs/correlation_total_sh_npmm.png
4_outputs/correlation_total_sh_pdo.png
4_outputs/correlation_total_sh_pna.png
4_outputs/correlation_total_sh_qbo.png
4_outputs/correlation_total_sh_sasd1.png
4_outputs/correlation_total_sh_siod.png
4_outputs/correlation_total_sh_soi.png
4_outputs/correlation_total_sh_spmm.png
4_outputs/correlation_total_sh_tna.png
4_outputs/decadal_global.png
4_outputs/global_seasonal_medians_detrended.png
4_outputs/global_seasonal_medians.png
4_outputs/index_seasons_amo.png
4_outputs/index_seasons_ao.png
4_outputs/index_seasons_atl3.png
4_outputs/index_seasons_iob.png
4_outputs/index_seasons_iod.png
4_outputs/index_seasons_nao.png
4_outputs/index_seasons_nino.png
4_outputs/index_seasons_npmm.png
4_outputs/index_seasons_pdo.png
4_outputs/index_seasons_pna.png
4_outputs/index_seasons_qbo.png
4_outputs/index_seasons_sasd1.png
4_outputs/index_seasons_siod.png
4_outputs/index_seasons_soi.png
4_outputs/index_seasons_spmm.png
4_outputs/index_seasons_tna.png
4_outputs/ipcc_region_data.png
4_outputs/loess_and_seasonal_medians.zip
4_outputs/nh_seasonal_medians_detrended.png
4_outputs/nh_seasonal_medians.png
4_outputs/nino34_index_2.png
4_outputs/nino34_index_3.png
4_outputs/nino34_index.png
4_outputs/normalization_and_seasonal_medians.zip
4_outputs/pdo_detrended.png
4_outputs/pdo_linear.png
4_outputs/pdo_lowpass.png
4_outputs/pdo.png
4_outputs/seasonal_global.png
4_outputs/sh_seasonal_medians_detrended.png
4_outputs/sh_seasonal_medians.png
4_outputs/sssr_selection.png
4_outputs/temperature_timeseries_monthly.png
4_outputs/temperature_timeseries_yearly.png
4_outputs/temperature_trends.png
4_outputs/trend_global.png
4_outputs/trends_indices.png
0_data/cc_ncdfs/global_causality_djf_merged.nc
0_data/cc_ncdfs/global_causality_jja_merged.nc
0_data/cc_ncdfs/global_causality_mam_merged.nc
0_data/cc_ncdfs/global_causality_seasonal.nc
0_data/cc_ncdfs/global_causality_significance_seasonal.nc
0_data/cc_ncdfs/global_causality_significance_total.nc
0_data/cc_ncdfs/global_causality_son_merged.nc
0_data/cc_ncdfs/global_causality_total.nc
0_data/cc_ncdfs/global_correlation_djf_merged.nc
0_data/cc_ncdfs/global_correlation_jja_merged.nc
0_data/cc_ncdfs/global_correlation_mam_merged.nc
0_data/cc_ncdfs/global_correlation_seasonal.nc
0_data/cc_ncdfs/global_correlation_significance_seasonal.nc
0_data/cc_ncdfs/global_correlation_significance_total.nc
0_data/cc_ncdfs/global_correlation_son_merged.nc
0_data/cc_ncdfs/global_correlation_total.nc
0_data/cc_ncdfs/nh_causality_seasonal.nc
0_data/cc_ncdfs/nh_causality_significance_seasonal.nc
0_data/cc_ncdfs/nh_causality_total.nc
0_data/cc_ncdfs/nh_correlation_seasonal.nc
0_data/cc_ncdfs/nh_correlation_significance_seasonal.nc
0_data/cc_ncdfs/nh_correlation_significance_total.nc
0_data/cc_ncdfs/nh_correlation_total.nc
0_data/cc_ncdfs/save_total_causality_maps_to_netcdf.nc
0_data/cc_ncdfs/sh_causality_seasonal.nc
0_data/cc_ncdfs/sh_causality_significance_seasonal.nc
0_data/cc_ncdfs/sh_causality_significance_total.nc
0_data/cc_ncdfs/sh_causality_total.nc
0_data/cc_ncdfs/sh_correlation_seasonal.nc
0_data/cc_ncdfs/sh_correlation_significance_seasonal.nc
0_data/cc_ncdfs/sh_correlation_significance_total.nc
0_data/cc_ncdfs/sh_correlation_total.nc
0_data/cv_indices/amo.data
0_data/cv_indices/amo.nc
0_data/cv_indices/ao.data
0_data/cv_indices/indices_oras5.nc
0_data/cv_indices/nao.data
0_data/cv_indices/nino.data
0_data/cv_indices/pdo.data
0_data/cv_indices/pna.data
0_data/cv_indices/qbo_seasonal_detrended.nc
0_data/cv_indices/qbo.data
0_data/cv_indices/soi.data
0_data/cv_indices/computed_batch/atl3.dat
0_data/cv_indices/computed_batch/iob.dat
0_data/cv_indices/computed_batch/iod.dat
0_data/cv_indices/computed_batch/nino34.dat
0_data/cv_indices/computed_batch/npmm.dat
0_data/cv_indices/computed_batch/sasd.dat
0_data/cv_indices/computed_batch/siod.dat
0_data/cv_indices/computed_batch/spmm.dat
0_data/cv_indices/computed_batch/tna.dat
0_data/median_super/detrended_monthly_data.nc
0_data/median_super/median_global_1.RDS
0_data/median_super/median_global_2.RDS
0_data/median_super/median_global_3.RDS
0_data/median_super/median_global_4.RDS
0_data/median_super/median_global_5.RDS
0_data/median_super/median_global_6.RDS
0_data/median_super/median_global_7.RDS
0_data/median_super/median_global_8.RDS
0_data/median_super/median_global_9.RDS
0_data/median_super/median_global_10.RDS
0_data/median_super/median_global_11.RDS
0_data/median_super/median_global_12.RDS
0_data/sssrs/global.nc
0_data/sssrs/r1.nc
0_data/sssrs/r2.nc
0_data/sssrs/r3.nc
0_data/sssrs/r4.nc
0_data/sssrs/r5.nc
0_data/sssrs/r6.nc
0_data/sssrs/r7.nc
0_data/sssrs/r8.nc
0_data/sssrs/r9.nc
0_data/sssrs/r10.nc
0_data/sssrs/r11.nc
0_data/tas_median/detrended_monthly_data.nc
0_data/tas_median/median_global_1.RDS
0_data/tas_median/median_global_2.RDS
0_data/tas_median/median_global_3.RDS
0_data/tas_median/median_global_4.RDS
0_data/tas_median/median_global_5.RDS
0_data/tas_median/median_global_6.RDS
0_data/tas_median/median_global_7.RDS
0_data/tas_median/median_global_8.RDS
0_data/tas_median/median_global_9.RDS
0_data/tas_median/median_global_10.RDS
0_data/tas_median/median_global_11.RDS
0_data/tas_median/median_global_12.RDS
4_outputs/decadal_global_time_monthly_12.png
4_outputs/decadal_global_time_monthly_120.png
4_outputs/seasonal_global_time_monthly_12.png
4_outputs/seasonal_global_time_monthly_120.png
4_outputs/temperature_trends_loess.png
4_outputs/trend_global_time_monthly_12.png
4_outputs/trend_global_time_monthly_120.png
4_outputs/decadal_global_temp_monthly_9.png
4_outputs/decadal_global_temp_monthly_128.png
4_outputs/decadal_global_temp_monthly_149.png
4_outputs/decadal_global_temp_yearly_2.png
4_outputs/decadal_global_temp_yearly_6.png
4_outputs/decadal_global_time_monthly_5.png
4_outputs/decadal_global_time_monthly_7.png
4_outputs/decomposition_plot_2.png
4_outputs/seasonal_global_temp_monthly_9.png
4_outputs/seasonal_global_temp_monthly_128.png
4_outputs/seasonal_global_temp_monthly_149.png
4_outputs/seasonal_global_temp_yearly_2.png
4_outputs/seasonal_global_temp_yearly_6.png
4_outputs/seasonal_global_time_monthly_5.png
4_outputs/seasonal_global_time_monthly_7.png
4_outputs/trend_global_temp_monthly_9.png
4_outputs/trend_global_temp_monthly_128.png
4_outputs/trend_global_temp_monthly_149.png
4_outputs/trend_global_temp_yearly_2.png
4_outputs/trend_global_temp_yearly_6.png
4_outputs/trend_global_time_monthly_5.png
4_outputs/trend_global_time_monthly_7.png
merged_temp.png
merged.png
0_data_and_functions/r_nought/median_global_1.RDS
0_data_and_functions/r_nought/median_global_2.RDS
0_data_and_functions/r_nought/median_global_3.RDS
0_data_and_functions/r_nought/median_global_4.RDS
0_data_and_functions/r_nought/median_global_5.RDS
0_data_and_functions/r_nought/median_global_6.RDS
0_data_and_functions/r_nought/median_global_7.RDS
0_data_and_functions/r_nought/median_global_8.RDS
0_data_and_functions/r_nought/median_global_9.RDS
0_data_and_functions/r_nought/median_global_10.RDS
0_data_and_functions/r_nought/median_global_11.RDS
0_data_and_functions/r_nought/median_global_12.RDS
0_data_and_functions/tas/median_global_1.RDS
0_data_and_functions/tas/median_global_2.RDS
0_data_and_functions/tas/median_global_3.RDS
0_data_and_functions/tas/median_global_4.RDS
0_data_and_functions/tas/median_global_5.RDS
0_data_and_functions/tas/median_global_6.RDS
0_data_and_functions/tas/median_global_7.RDS
0_data_and_functions/tas/median_global_8.RDS
0_data_and_functions/tas/median_global_9.RDS
0_data_and_functions/tas/median_global_10.RDS
0_data_and_functions/tas/median_global_11.RDS
0_data_and_functions/tas/median_global_12.RDS
4_outputs/data/climate_indices/amo.data
4_outputs/data/climate_indices/amo.nc
4_outputs/data/climate_indices/ao.data
4_outputs/data/climate_indices/indices_oras5.nc
4_outputs/data/climate_indices/nao.data
4_outputs/data/climate_indices/nino.data
4_outputs/data/climate_indices/pdo.data
4_outputs/data/climate_indices/pna.data
4_outputs/data/climate_indices/qbo_seasonal_detrended.nc
4_outputs/data/climate_indices/qbo.data
4_outputs/data/climate_indices/soi.data
4_outputs/data/climate_indices/computed_batch/atl3.dat
4_outputs/data/climate_indices/computed_batch/iob.dat
4_outputs/data/climate_indices/computed_batch/iod.dat
4_outputs/data/climate_indices/computed_batch/nino34.dat
4_outputs/data/climate_indices/computed_batch/npmm.dat
4_outputs/data/climate_indices/computed_batch/sasd.dat
4_outputs/data/climate_indices/computed_batch/siod.dat
4_outputs/data/climate_indices/computed_batch/spmm.dat
4_outputs/data/climate_indices/computed_batch/tna.dat
4_outputs/data/correlation_and_causality/global_causality_djf_merged.nc
4_outputs/data/correlation_and_causality/global_causality_jja_merged.nc
4_outputs/data/correlation_and_causality/global_causality_mam_merged.nc
4_outputs/data/correlation_and_causality/global_causality_seasonal.nc
4_outputs/data/correlation_and_causality/global_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/global_causality_significance_total.nc
4_outputs/data/correlation_and_causality/global_causality_son_merged.nc
4_outputs/data/correlation_and_causality/global_causality_total.nc
4_outputs/data/correlation_and_causality/global_correlation_djf_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_jja_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_mam_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/global_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/global_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/global_correlation_son_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_total.nc
4_outputs/data/correlation_and_causality/nh_causality_seasonal.nc
4_outputs/data/correlation_and_causality/nh_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/nh_causality_total.nc
4_outputs/data/correlation_and_causality/nh_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/nh_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/nh_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/nh_correlation_total.nc
4_outputs/data/correlation_and_causality/save_total_causality_maps_to_netcdf.nc
4_outputs/data/correlation_and_causality/sh_causality_seasonal.nc
4_outputs/data/correlation_and_causality/sh_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/sh_causality_significance_total.nc
4_outputs/data/correlation_and_causality/sh_causality_total.nc
4_outputs/data/correlation_and_causality/sh_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/sh_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/sh_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/sh_correlation_total.nc
4_outputs/data/sssrs/global.nc
4_outputs/data/sssrs/r1.nc
4_outputs/data/sssrs/r2.nc
4_outputs/data/sssrs/r3.nc
4_outputs/data/sssrs/r4.nc
4_outputs/data/sssrs/r5.nc
4_outputs/data/sssrs/r6.nc
4_outputs/data/sssrs/r7.nc
4_outputs/data/sssrs/r8.nc
4_outputs/data/sssrs/r9.nc
4_outputs/data/sssrs/r10.nc
4_outputs/data/sssrs/r11.nc
4_outputs/figures/ipcc_region_data.png
4_outputs/figures/loess_and_seasonal_medians.zip
4_outputs/figures/normalization_and_seasonal_medians.zip
4_outputs/figures/preanalysis.zip
4_outputs/td_decadal_time.png
4_outputs/td_remaining_time.png
4_outputs/td_seasonal_time.png
4_outputs/td_trend_time.png
4_outputs/data/detrended_vars/detrended_tas_1d.nc
4_outputs/data/detrended_vars/detrended_tas_3d.nc
4_outputs/figures/temperature_trends.eps
4_outputs/figures/temperature_trends.png
