0_data_and_functions/r_nought/median_global_1.RDS
0_data_and_functions/r_nought/median_global_2.RDS
0_data_and_functions/r_nought/median_global_3.RDS
0_data_and_functions/r_nought/median_global_4.RDS
0_data_and_functions/r_nought/median_global_5.RDS
0_data_and_functions/r_nought/median_global_6.RDS
0_data_and_functions/r_nought/median_global_7.RDS
0_data_and_functions/r_nought/median_global_8.RDS
0_data_and_functions/r_nought/median_global_9.RDS
0_data_and_functions/r_nought/median_global_10.RDS
0_data_and_functions/r_nought/median_global_11.RDS
0_data_and_functions/r_nought/median_global_12.RDS
0_data_and_functions/tas/median_global_1.RDS
0_data_and_functions/tas/median_global_2.RDS
0_data_and_functions/tas/median_global_3.RDS
0_data_and_functions/tas/median_global_4.RDS
0_data_and_functions/tas/median_global_5.RDS
0_data_and_functions/tas/median_global_6.RDS
0_data_and_functions/tas/median_global_7.RDS
0_data_and_functions/tas/median_global_8.RDS
0_data_and_functions/tas/median_global_9.RDS
0_data_and_functions/tas/median_global_10.RDS
0_data_and_functions/tas/median_global_11.RDS
0_data_and_functions/tas/median_global_12.RDS
4_outputs/data/climate_indices/amo.data
4_outputs/data/climate_indices/amo.nc
4_outputs/data/climate_indices/ao.data
4_outputs/data/climate_indices/indices_oras5.nc
4_outputs/data/climate_indices/nao.data
4_outputs/data/climate_indices/nino.data
4_outputs/data/climate_indices/pdo.data
4_outputs/data/climate_indices/pna.data
4_outputs/data/climate_indices/qbo_seasonal_detrended.nc
4_outputs/data/climate_indices/qbo.data
4_outputs/data/climate_indices/soi.data
4_outputs/data/climate_indices/computed_batch/atl3.dat
4_outputs/data/climate_indices/computed_batch/iob.dat
4_outputs/data/climate_indices/computed_batch/iod.dat
4_outputs/data/climate_indices/computed_batch/nino34.dat
4_outputs/data/climate_indices/computed_batch/npmm.dat
4_outputs/data/climate_indices/computed_batch/sasd.dat
4_outputs/data/climate_indices/computed_batch/siod.dat
4_outputs/data/climate_indices/computed_batch/spmm.dat
4_outputs/data/climate_indices/computed_batch/tna.dat
4_outputs/data/correlation_and_causality/global_causality_djf_merged.nc
4_outputs/data/correlation_and_causality/global_causality_jja_merged.nc
4_outputs/data/correlation_and_causality/global_causality_mam_merged.nc
4_outputs/data/correlation_and_causality/global_causality_seasonal.nc
4_outputs/data/correlation_and_causality/global_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/global_causality_significance_total.nc
4_outputs/data/correlation_and_causality/global_causality_son_merged.nc
4_outputs/data/correlation_and_causality/global_causality_total.nc
4_outputs/data/correlation_and_causality/global_correlation_djf_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_jja_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_mam_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/global_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/global_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/global_correlation_son_merged.nc
4_outputs/data/correlation_and_causality/global_correlation_total.nc
4_outputs/data/correlation_and_causality/nh_causality_seasonal.nc
4_outputs/data/correlation_and_causality/nh_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/nh_causality_total.nc
4_outputs/data/correlation_and_causality/nh_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/nh_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/nh_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/nh_correlation_total.nc
4_outputs/data/correlation_and_causality/save_total_causality_maps_to_netcdf.nc
4_outputs/data/correlation_and_causality/sh_causality_seasonal.nc
4_outputs/data/correlation_and_causality/sh_causality_significance_seasonal.nc
4_outputs/data/correlation_and_causality/sh_causality_significance_total.nc
4_outputs/data/correlation_and_causality/sh_causality_total.nc
4_outputs/data/correlation_and_causality/sh_correlation_seasonal.nc
4_outputs/data/correlation_and_causality/sh_correlation_significance_seasonal.nc
4_outputs/data/correlation_and_causality/sh_correlation_significance_total.nc
4_outputs/data/correlation_and_causality/sh_correlation_total.nc
4_outputs/data/sssrs/global.nc
4_outputs/data/sssrs/r1.nc
4_outputs/data/sssrs/r2.nc
4_outputs/data/sssrs/r3.nc
4_outputs/data/sssrs/r4.nc
4_outputs/data/sssrs/r5.nc
4_outputs/data/sssrs/r6.nc
4_outputs/data/sssrs/r7.nc
4_outputs/data/sssrs/r8.nc
4_outputs/data/sssrs/r9.nc
4_outputs/data/sssrs/r10.nc
4_outputs/data/sssrs/r11.nc
4_outputs/figures/ipcc_region_data.png
4_outputs/figures/loess_and_seasonal_medians.zip
4_outputs/figures/normalization_and_seasonal_medians.zip
4_outputs/figures/preanalysis.zip
4_outputs/td_decadal_time.png
4_outputs/td_remaining_time.png
4_outputs/td_seasonal_time.png
4_outputs/td_trend_time.png
4_outputs/data/detrended_vars/detrended_tas_1d.nc
4_outputs/data/detrended_vars/detrended_tas_3d.nc
4_outputs/figures/temperature_trends.eps
4_outputs/figures/temperature_trends.png
4_outputs/figures/td_decadal_temp.png
4_outputs/figures/td_decadal_time.png
4_outputs/figures/td_ratio_decadal.png
4_outputs/figures/td_ratio_remaining.png
4_outputs/figures/td_ratio_seasonal.png
4_outputs/figures/td_ratio_trend.png
4_outputs/figures/td_remaining_temp.png
4_outputs/figures/td_remaining_time.png
4_outputs/figures/td_seasonal_temp.png
4_outputs/figures/td_seasonal_time.png
4_outputs/figures/td_trend_temp.png
4_outputs/figures/td_trend_time.png
4_outputs/td_decadal_time.eps
4_outputs/td_remaining_time.eps
4_outputs/td_seasonal_time.eps
4_outputs/td_trend_time.eps
4_outputs/data/detrended_vars/detrended_r_nought_data.nc
4_outputs/figures/td_decadal_temp.eps
4_outputs/figures/td_remaining_temp.eps
4_outputs/figures/td_seasonal_temp.eps
4_outputs/figures/td_trend_temp.eps
4_outputs/figures/timeseries_decomposition.eps
4_outputs/figures/timeseries_decomposition.png
4_outputs/figures/td_decadal_time.eps
4_outputs/figures/td_remaining_time.eps
4_outputs/figures/td_seasonal_time.eps
4_outputs/figures/td_trend_time.eps
4_outputs/figures/correlation_seasonal_nh_atl3.png
4_outputs/figures/correlation_seasonal_nh_iob.png
4_outputs/figures/correlation_seasonal_nh_niño_34.png
4_outputs/figures/correlation_seasonal_nh_npmm.png
4_outputs/figures/correlation_seasonal_nh_spmm.png
4_outputs/figures/correlation_seasonal_nh_tna.png
4_outputs/figures/index_seasons_atl3.png
4_outputs/figures/index_seasons_iob.png
4_outputs/figures/index_seasons_iod.png
4_outputs/figures/index_seasons_nino.png
4_outputs/figures/index_seasons_npmm.png
4_outputs/figures/index_seasons_sasd1.png
4_outputs/figures/index_seasons_siod.png
4_outputs/figures/index_seasons_spmm.png
4_outputs/figures/index_seasons_tna.png
4_outputs/figures/trends_indices.png
4_outputs/figures/correlation_seasonal_nh_iod.png
4_outputs/figures/correlation_seasonal_nh_sasd1.png
4_outputs/figures/correlation_seasonal_nh_siod.png
4_outputs/figures/correlation_seasonal_sh_niño_34.png
4_outputs/figures/correlation_seasonal_sh_npmm.png
4_outputs/figures/correlation_seasonal_sh_spmm.png
4_outputs/figures/correlation_seasonal_sh_atl3.png
4_outputs/figures/correlation_seasonal_sh_iob.png
4_outputs/figures/correlation_seasonal_sh_iod.png
4_outputs/figures/correlation_seasonal_sh_sasd1.png
4_outputs/figures/correlation_seasonal_sh_siod.png
4_outputs/figures/correlation_seasonal_sh_tna.png
4_outputs/figures/correlation_total_nh_atl3.png
4_outputs/figures/correlation_total_nh_iob.png
4_outputs/figures/correlation_total_nh_iod.png
4_outputs/figures/correlation_total_nh_niño_34.png
4_outputs/figures/correlation_total_nh_npmm.png
4_outputs/figures/correlation_total_nh_sasd1.png
4_outputs/figures/correlation_total_nh_siod.png
4_outputs/figures/correlation_total_nh_spmm.png
4_outputs/figures/correlation_total_nh_tna.png
4_outputs/figures/correlation_total_sh_atl3.png
4_outputs/figures/correlation_total_sh_iob.png
4_outputs/figures/correlation_total_sh_iod.png
4_outputs/figures/correlation_total_sh_niño_34.png
4_outputs/figures/correlation_total_sh_npmm.png
4_outputs/figures/correlation_total_sh_sasd1.png
4_outputs/figures/correlation_total_sh_siod.png
4_outputs/figures/correlation_total_sh_spmm.png
4_outputs/figures/correlation_total_sh_tna.png
4_outputs/figures/correlation_seasonal_global_atl3.png
4_outputs/figures/correlation_seasonal_global_iob.png
4_outputs/figures/correlation_seasonal_global_iod.png
4_outputs/figures/correlation_seasonal_global_niño_34.png
4_outputs/figures/correlation_seasonal_global_npmm.png
4_outputs/figures/correlation_seasonal_global_spmm.png
4_outputs/figures/correlation_seasonal_global_tna.png
4_outputs/figures/correlation_total_global_npmm.png
4_outputs/figures/correlation_seasonal_global_atl3.eps
4_outputs/figures/correlation_seasonal_global_niño_34.eps
4_outputs/figures/correlation_seasonal_global_npmm.eps
4_outputs/figures/correlation_seasonal_global_spmm.eps
4_outputs/figures/correlation_seasonal_nh_atl3.eps
4_outputs/figures/correlation_seasonal_nh_iob.eps
4_outputs/figures/correlation_seasonal_nh_iod.eps
4_outputs/figures/correlation_seasonal_nh_niño_34.eps
4_outputs/figures/correlation_seasonal_nh_npmm.eps
4_outputs/figures/correlation_seasonal_nh_sasd1.eps
4_outputs/figures/correlation_seasonal_nh_siod.eps
4_outputs/figures/correlation_seasonal_nh_spmm.eps
4_outputs/figures/correlation_seasonal_nh_tna.eps
4_outputs/figures/correlation_seasonal_sh_atl3.eps
4_outputs/figures/correlation_seasonal_sh_iob.eps
4_outputs/figures/correlation_seasonal_sh_iod.eps
4_outputs/figures/correlation_seasonal_sh_niño_34.eps
4_outputs/figures/correlation_seasonal_sh_npmm.eps
4_outputs/figures/correlation_seasonal_sh_sasd1.eps
4_outputs/figures/correlation_seasonal_sh_siod.eps
4_outputs/figures/correlation_seasonal_sh_spmm.eps
4_outputs/figures/correlation_seasonal_sh_tna.eps
4_outputs/figures/correlation_total_nh_atl3.eps
4_outputs/figures/correlation_total_nh_iob.eps
4_outputs/figures/correlation_total_nh_iod.eps
4_outputs/figures/correlation_total_nh_niño_34.eps
4_outputs/figures/correlation_total_nh_npmm.eps
4_outputs/figures/correlation_total_nh_sasd1.eps
4_outputs/figures/correlation_total_nh_siod.eps
4_outputs/figures/correlation_total_nh_spmm.eps
4_outputs/figures/correlation_total_nh_tna.eps
4_outputs/figures/correlation_total_sh_atl3.eps
4_outputs/figures/correlation_total_sh_iob.eps
4_outputs/figures/correlation_total_sh_iod.eps
4_outputs/figures/correlation_total_sh_niño_34.eps
4_outputs/figures/correlation_total_sh_npmm.eps
4_outputs/figures/correlation_total_sh_sasd1.eps
4_outputs/figures/correlation_total_sh_siod.eps
4_outputs/figures/correlation_total_sh_spmm.eps
4_outputs/figures/correlation_total_sh_tna.eps
4_outputs/figures/index_seasons_atl3.eps
4_outputs/figures/index_seasons_iob.eps
4_outputs/figures/index_seasons_iod.eps
4_outputs/figures/index_seasons_nino.eps
4_outputs/figures/index_seasons_npmm.eps
4_outputs/figures/index_seasons_sasd1.eps
4_outputs/figures/index_seasons_siod.eps
4_outputs/figures/index_seasons_spmm.eps
4_outputs/figures/index_seasons_tna.eps
4_outputs/figures/trends_indices.eps
4_outputs/figures/correlation_seasonal_global_iob.eps
4_outputs/figures/correlation_seasonal_global_iod.eps
4_outputs/figures/correlation_seasonal_global_siod.eps
4_outputs/figures/correlation_seasonal_global_tna.eps
4_outputs/figures/correlation_final_global_DJF_merged.eps
4_outputs/figures/correlation_final_global_DJF_merged.png
4_outputs/figures/correlation_final_global_JJA_merged.eps
4_outputs/figures/correlation_final_global_JJA_merged.png
4_outputs/figures/correlation_final_global_MAM_merged.eps
4_outputs/figures/correlation_final_global_MAM_merged.png
4_outputs/figures/correlation_final_global_SON_merged.eps
4_outputs/figures/correlation_final_global_SON_merged.png
4_outputs/figures/correlation_seasonal_global_sasd1.eps
4_outputs/figures/correlation_total_global_atl3.eps
4_outputs/figures/correlation_total_global_atl3.png
4_outputs/figures/correlation_total_global_iob.eps
4_outputs/figures/correlation_total_global_iob.png
4_outputs/figures/correlation_total_global_iod.eps
4_outputs/figures/correlation_total_global_iod.png
4_outputs/figures/correlation_total_global_niño_34.eps
4_outputs/figures/correlation_total_global_niño_34.png
4_outputs/figures/correlation_total_global_npmm.eps
4_outputs/figures/correlation_total_global_sasd1.eps
4_outputs/figures/correlation_total_global_sasd1.png
4_outputs/figures/correlation_total_global_siod.eps
4_outputs/figures/correlation_total_global_siod.png
4_outputs/figures/correlation_total_global_spmm.eps
4_outputs/figures/correlation_total_global_spmm.png
4_outputs/figures/correlation_total_global_tna.eps
4_outputs/figures/correlation_total_global_tna.png
